*.log
*.json
*.css
*.less
*.scss
*.html
*.md
*.lock
*.swp

.github
.cache
.temp
.idea
.rn_temp
.DS_Store
.editorconfig
.eslintignore
.gitignore
.prettierignore
.prettierrc
.stylelintignore
LICENSE

node_modules
packages/**/coverage
packages/**/dist
packages/**/build
packages/micro/weapp
packages/micro/alipay
packages/micro/swan
packages/micro/h5
packages/micro/tt
packages/micro/qq
packages/micro/dd
packages/micro/qywx
packages/micro/jd
packages/micro/iot
